<div class="patient">
  <img class="patient-logo" ng-src="{{ $ctrl.patient.logo }}"/>
  <h3 class="patient-h3">
    {{ $ctrl.patient.title }} {{ $ctrl.patient.firstName }} {{ $ctrl.patient.lastName }} <i ng-class="$ctrl.genderDetermination($ctrl.patient.gender)"></i>
  </h3>
  <p>{{ $ctrl.patient.dateOfBirth }}</p>
  <p>{{ $ctrl.patient.address.street }}<br>
  {{ $ctrl.patient.address.city }}, {{ $ctrl.patient.address.state }} {{ $ctrl.patient.address.zip }}</p>
  <p>Occupation: {{ $ctrl.patient.occupation }}</p>
  <p><i class="fa fa-phone icon-margin"></i>{{ $ctrl.patient.phones.home }}<br>
  <i class="fa fa-mobile icon-margin"></i>{{ $ctrl.patient.phones.cell }}<br>
  <i class="fa fa-envelope-o icon-margin"></i><a ng-href="{{ $ctrl.patient.email }}">{{ $ctrl.patient.email }}</a>
  </p>
  <button type="button" class="btn btn-primary" ng-click="$ctrl.open('lg')">Edit Patient Info</button>

  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit Patient Information</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" ng-model="$ctrl.patient.firstName" class="form-control">
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" ng-model="$ctrl.patient.lastName" class="form-control">
      </div>
      <div class="form-group">
        <label>Date of Birth:</label>
        <input type="text" ng-model="$ctrl.patient.dateOfBirth" class="form-control">
      </div>
      <div class="form-group">
        <label>Street:</label>
        <input type="text" ng-model="$ctrl.patient.address.street" class="form-control">
      </div>
      <div class="form-group">
        <label>City:</label>
        <input type="text" ng-model="$ctrl.patient.address.city" class="form-control">
      </div>
      <div class="form-group">
        <label>State:</label>
        <input type="text" ng-model="$ctrl.patient.address.state" class="form-control">
      </div>
      <div class="form-group">
        <label>Zip:</label>
        <input type="text" ng-model="$ctrl.patient.address.zip" class="form-control">
      </div>
      <div class="form-group">
        <label>Occupation:</label>
        <input type="text" ng-model="$ctrl.patient.occupation" class="form-control">
      </div>
      <div class="form-group">
        <label>Home Phone:</label>
        <input type="text" ng-model="$ctrl.patient.phones.home" class="form-control">
      </div>
      <div class="form-group">
        <label>Cell Phone:</label>
        <input type="text" ng-model="$ctrl.patient.phones.cell" class="form-control">
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="text" ng-model="$ctrl.patient.email" class="form-control">
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </script>
</div>
